@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #01b4fe;
  --secondary: #e9f0ff;
  --dark: #232223;
}

body {
  @apply text-dark font-roboto;
}

table {
  @apply text-[11px] table-fixed;
}

th {
  height: 5px;
  @apply px-3 whitespace-nowrap;
}
tr {
  @apply h-7 whitespace-nowrap;
}

td:not(:first-child):not(:nth-child(3)) {
  @apply text-center;
}
